body {
	font-size: 16px;
    margin: 0;
    padding: 0;
}
h2 {
	font-size: 30px;
	line-height: 35px;
	margin: 20px 0;
}

h3 {
	font-size: 180px;
	line-height: 5px;
    text-align: center;
    font-weight: 800;
    margin-top: 90px;
    margin-bottom: 110px;
}

h4 {
	font-size: 24px;
	line-height: 5px;
    text-align: center;
}

h5 {
  	font-size: 16px;
    text-align: center;
}

hr {
  border: none;
  height: 4px;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		display: block;
		transition: 0.3s;
		line-height: 50px;
	}
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
    img {
      max-height: 200px;
      max-width: 200px;
      border-radius: 100px;
      margin-left: 25px;
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
    }
  .button {
    width: 100px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    margin: 12px;
  &:focus {
    outline: 0;
  }
}
}
#main {
	transition: margin-left .5s;
    button {
    width: 180px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    margin: 0 auto;
    margin-right: 10px;
    align-content: center;
    text-align: center;
      &:focus {
        outline: 0;
      }
    }
}
#topnav {
	width: 100%;
	height: 35px;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
}
#openicon {
	height: auto;
	display: inline-block;
	float: left;
	padding-left: 15px;
}
.logobig {
	max-height: 35px;
	padding-left: 20px;
	display: inline-block;
	float: left;
}
.logosmall {
	max-height: 35px;
	padding-left: 20px;
	display: none;
	float: left;
}
input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 14px;
	background-image: url('../img/search.png');
	background-position: 7px 7px;
	background-repeat: no-repeat;
	padding: 7px 10px 7px 30px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	margin-right: 40px;
	&:focus {
		width: 20%;
	}
}

#content-section {
	display: inline-block;
	width: 100%;
    margin: auto;
}
#stats {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	height: inherit;
  	align-self: center;
    align-content: center;
}
.stat-item {
    margin: auto;
    margin-top: 60px;
    width: 25%;
	text-align: center;
}
#table {
	margin: auto;
	padding: 20px;
	padding-top: 50px;
	width: 90%;
    margin-bottom: 20px; 
}
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
    margin-bottom: 20px;
}
td {
	padding: 18px 15px;
}
th {
	text-align: left;
	padding: 15px;
}
tr {
	&:last-child {
		td {
			&:first-child {
				border-bottom-left-radius: 6px;
			}
			&:last-child {
				border-bottom-right-radius: 6px;
			}
		}
		th:last-child {
			border-top-right-radius: 6px;
		}
	}
	&:first-child th:first-child {
		border-top-left-radius: 6px;
	}
}

text.ct-label {
	font-size: 25px;
}

footer {
  width: 100%;
  bottom: 0;
}

@media screen and(max-width: 1025px) {
    body {
      font-size: 18px;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
	.stat-item {
		min-width: 33.33%;
	}
	input[type=text]:focus {
		width: 30%;
	}
}

@media screen and(max-width: 600px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
        img {
          margin-left: 50%;
        }
	}
	.logobig {
		display: none;
	}
	.logosmall {
		display: inline-block;
	}
	#stats {
        padding-top: 65px;
        margin-top: 65px;
		flex-direction: column;
	}
	.stat-item {
		margin-top: 15px;
		margin-bottom: 15px;
		width: 90%;
		align-self: center;
        
	}
    body {
      font-size: 20px;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    td {
        padding: 7px 10px;
    }
	input[type=text]:focus {
		width: 50%;
	}
}

