@import 'main.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

//colors
$body: #ffffff;
$rest: #e6e8e8;
$link: #dbe6e6;
$mainnav: #8ea6c7;
$fill: #43809f;
$font: #142a33;

//fonts
$font_0: 'Roboto Slab', serif;

body {
	font-family: $font_0;
	background: $body;
}
h2 {
	font-family: $font_0;
	color: $font;
}

h3 {
	font-family: $font_0;
	color: $mainnav;
}

h4 {
	font-family: $font_0;
	color: $font;
}

h5 {
  	font-family: $font_0;
	color: $mainnav;
}

hr {
  background-color: $rest;
}
.sidenav {
	background-color: $mainnav;
	a {
		color: $link;
		&:hover {
			color: $font;
		}
	}
    .button {
    background: $font;
    color: $body;
    font-family: $font_0;
    &:hover {
      background: $link;
	}
}
}
#topnav {
	background: $mainnav;
}

#main {
  button {
    background: $mainnav;
    color: $font;
    font-family: $font_0;
    font-size: 15px;
    &:hover {
      background: $link;
    }
  }
}
  
#openicon {
	color: $font;
}
input[type=text] {
	border: 2px solid $link;
	background-color: $body;
    color: $body;
    font-family: $font_0;
}
td {
	border-right: 1px solid $body;
	border-bottom: 1px solid $body;
    font-family: $font_0;
	&:first-child {
		border-left: 1px solid $body;
	}
}
th {
	background: $mainnav;
	color: $font;
    font-family: $font_0;
}
tr {
    font-family: $font_0;
	&:nth-child(even) td {
		background: $link;
	}
	&:nth-child(odd) td {
		background: $rest;
	}
}

text.ct-label {
	fill: $font;
	color: $font;
}
.ct-series-a .ct-slice-pie {
	fill: $mainnav;
}
.ct-series-b .ct-slice-pie {
	fill: $link;
}
.ct-series-c .ct-slice-pie {
	fill: $fill;
}